.bundle
*.gem
*.o
*.so
*.bundle
*~
*.log
Makefile
pkg
zookeeper.gemspec
Gemfile.*
tmp/
.rvmrc
.zkserver
coverage

*.swp
*.swo

.ruby-gemset
.ruby-version

ext/bin/
ext/lib/
ext/include/
ext/zkc-3.4.5/
